*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background: rgb(231, 231, 2);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
h1{
    font-family: sans-serif;
    border: 2px solid black;
    padding: 20px;
}
